<a href="https://colab.research.google.com/github/iljoooo/lecture-notes/blob/master/Big_Camp_2nd_week_Using_Database_with_Python_Students.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Big Camp 2주차- 데이터 사이언스를 위한 Advanced Python

데이터베이스

서울대학교 도시데이터 사이언스 연구소

# 데이터사이언스에서 데이터베이스의 역할


* 빅데이터의 특징
  - Volumne(규모): PB~ZB 규모의 데이터들이 축적
  - Variety(다양성): 다양한 종류의 데이터 활용이 필요
  - Velocity(속도): 실시간 데이터 처리
  - Veracity(정확성): 데이터의 품질 또는 정확도가 중요

* 데이터 사이언스의 프로세스
  1. 문제정의
  2. __데이터 수집__
  3. __데이터 선정 및 추출__
  4. 데이터 전처리
  5. 데이터 탐색 (statistics, visualization)
  6. 데이터 분석 - 모델링 (regression, clustering, deep learning, ...)
  7. 모델 평가
  8. 결과물 도출

* 데이터 분석의 선결 과제
  - 대규모의 다양한 데이터셋을 효율적 관리
  - 분석(모델링)에 적합한 데이터를 선정
  - 선정한 데이터를 추출하여 필요한 형태로 전처리

# 데이터베이스 시스템의 특징
  
1. 데이터 관리
  - 데이터 중복의 최소화
  - 데이터의 무결성(정확성, 일관성, 유효성) 유지
  - 데이터 백업/복구
2. 작업 관리
  - 다수 사용자들의 데이터 공유, 보안, 접근 제어
  - 데이터 갱신(update)작업의 Rollback 기능 지원
3. 데이터 처리
  - 대규모 데이터에서 필요한 데이터들만을 추출
  - 실시간으로 변동하는 데이터 처리 및 분석

## 데이터베이스 - 트랜잭션

- 데이터베이스에서 일련의 작업을 수행하는 단위
  * 성공(commit) 혹은 실패(Abort)로 종료
  * ACID 특성을 가짐

- 원자성(Atomicity)
  * 하나의 트랜잭션의 작업들은 모두 실행되거나 전혀 실행되지 않아야함
  * 중간에 취소가 된다면 이전의 작업들은 롤백
  * 예) A계좌에서 10만원을 B계좌로 이체 (1.A계좌에서 10만원 인출, 2.B계좌로 10만원 입금)
     => 두 작업 모두 수행되거나 둘 다 수행되거나 둘 다 수행되지 않아야 함
- 일관성(Consistency)
  * 트랜잭션의 실행이 완료된 후에는 데이터베이스가 모든 일관성 조건을 만족해야 함
  * 예) 계좌이체 후 A계좌와 B계좌의 잔액의 합이 트랜잭션 수행 이전과 같아야 함
- 고립성(Isolation)
  * 트랜잭션들이 병행수해되는 다른 트랜잭션으로부터 영향을 받아서는 안됨
  * 예) 트랜잭션1의 중간 결과는 트랜잭션2가 참조할 수 없음
- 지속성(Durability)
  * 완료(commit)된 트랜잭션의 결과는 영구적으로 반영되어야 함

# 관계형 데이터베이스
* 가장 일반적으로 많이 사용되는 데이터베이스의 종류
* 테이블의 형태로 데이터를 저장
  - 행: 레코드(record), 튜플(tuple)
  - 열: 필드(field), 속성(attribute)
  - 하나의 필드에서는 동일한 타입의 데이터만 입력 가능
* 테이블에서 저장 가능한 데이터 자료형
  - INT, BIGINT, SMALLINT, ...
  - DECIMAL, FLOAT, DOUBLE, ...
  - CHAR, VARCHAR, ...
  - DATE, TIME, TIMESTAMP, ...
  - BLOB, ...
  - ...

## 관계형 데이터베이스: 테이블

|ID|FNAME|LNAME|DNAME|FLOOR|GENDER|SALARY|
|-----|-----|-----|-----|:-----:|:-----:|-----|
|1 | Brad | Nash | Research | 9F | M | 30000|
|2 | Franklin | Smith | Sales | 9F | M | 40000|
|3 | Nicole | Kim | Finance | 10F | F | 25000|
|4 | Anna | Mills | Research | 9F |F | 43000 |
|5 | Tim | Allen | Research | 9F | M | 38000 |
|6 | Jennifer |Grey | HR | 10F | F | 35000 |
|7 | Tony | Parker | Sales | 9F | M | 25000 |
|8 | James | Wong | Finance | 10F | M | 45000 |

## 데이터베이스 정규화(Normalization)

- 관계형 데이터베이스의 설계에서 데이터의 중복을 최소화하기 위하여 구조화
  * 예시 테이블에서 각 직원들의 부서 관련 데이터(DNAME, FLOOR)가 중복
  * Research 부서가 10F으로 장소를 이동한다면?
  * DEPARTMENT 테이블을 만들고 DID 관계 설정
- 외래키(FOREIGN KEY) 설정을 통하여 데이터베이스 무결성 유지에 도움
  * 예) 직원의 DID는 DEPARTMENT 테이블에 있는 값으로만 설정할 수 있다.

DEPARTMENT 테이블

| DID | DNAME | FLOOR |
|-----|-----|:-----:|
| 1 | Finance | 10F |
| 2 | Sales | 9F |
| 3 | Research | 9F |
| 4 | HR | 10F |

EMPLOYEE 테이블

|EID|FNAME|LNAME|DID|GENDER|SALARY|
|-|-----|-----|:-----:|:-----:|-----|
|1 | Brad | Nash | 3 | M | 30000|
|2 | Franklin | Smith | 2 | M | 40000|
|3 | Nicole | Kim | 1 | F | 25000|
|4 | Anna | Mills | 3 | F | 43000 |
|5 | Tim | Allen | 3 | M | 38000 |
|6 | Jennifer |Grey | 4 | F | 35000 |
|7 | Tony | Parker | 2 | M | 25000 |
|8 | James | Wong | 1 | M | 45000 |

## 관계형 데이터베이스 제약(CONSTRAINT)
- 데이터베이스의 무결성(정확성, 일관성, 유효성)의 유지
- 제약조건
  * UNIQUE KEY: 저장된 레코드를 고유하게 식별하기 위한 키 정의(ex. 주민등록번호, 학번, 사번), NULL값은 중복입력 가능
  * NOT NULL: 해당 칼럼에 NULL 값의 입력을 금지
  * PRIMARY KEY: UNIQUE KEY & NOT NULL, 테이블 당 하나의 PRIMARY KEY 제약만 정의 가능
  * CHECK: 입력할 수 있는 값의 범위 등을 제한
  * FOREIGN KEY: 관계형 데이터베이스에서 테이블 간의 관계를 정의

# SQL (Structured Query Language)
* 데이터베이스의 정의와 질의 및 갱신을 위하여 설계된 프로그래밍 언어
* 표준화되어 모든 데이터베이스 시스템이 동일한 문법의 SQL 사용
* 주요 구문
  - 테이블 생성, 삭제, 변경 (CREATE, DROP, ALTER)
  - 데이터 갱신 (INSERT, UPDATE, DELETE)
  - 질의 (SELECT)
* SQL 명령문들은 마지막에 ';' 부호를 사용하여 구분
* SQL 실습도구
  - https://sqliteonline.com/

## CREATE TABLE
- 새로운 테이블 생성

- CREATE TABLE [테이블이름] ([필드이름1] [필드타입1], [필드이름2] [필드타입2], ... );
  * 같은 이름의 테이블이 있을 시 에러 발생
- CREATE TABLE IF NOT EXISTS [테이블 이름] ([필드이름1] [필드타입1], [필드이름2] [필드타입2], ... );


- ex) CREATE TABLE DEPARTMENT (DID INT, DNAME VARCHAR(32), FLOOR VARCHAR(32));
- ex) CREATE TABLE IF NOT EXISTS DEPARTMENT (DID INT, DNAME VARCHAR(32), FLOOR VARCHAR(32));
- ex) CREATE TABLE DEPARTMENT (DID INT PRIMARY KEY, DNAME VARCHAR(32), FLOOR VARCHAR(32));

| DID | DNAME | FLOOR |
|-----|-----|-----|

## DROP TABLE
- 기존 테이블 제거

- DROP TABLE [테이블이름]
  * 해당 테이블이 없으면 에러 발생
- DROP TABLE IF EXISTS [테이블이름];


- ex) DROP TABLE DEPARTMENT;
- ex) DROP TABLE IF EXSITS DEPARTMENT;

## INSERT
- 새로운 레코드 입력
- INSERT INTO [테이블이름] VALUES ([필드값1], [필드값2], ...)
  * 문자열 값은 ''나 ""로 묶어줘야 함



- ex) INSERT INTO DEPARTMENT VALUES(1, 'Finance', '10F');
- ex) INSERT INTO DEPARTMENT VALUES(2, 'Sales', '9F');
- ex) INSERT INTO DEPARTMENT VALUES(3, 'Research', '9F');
- ex) INSERT INTO DEPARTMENT VALUES(4, 'HR', '9F');
- ex) INSERT INTO DEPARTMENT VALUES(5, 'Marketing', '10F');

| DID | DNAME | FLOOR |
|-----|-----|-----|
| 1 | Finance | 10F |
| 2 | Sales | 9F |
| 3 | Research | 9F |
| 4 | HR | 9F |
| 5 | Marketing | 10F |

## UPDATE
- 기존 레코드의 값 변경
- UPDATE [테이블이름] SET [필드이름] = [필드값] WHERE [조건]


- ex) DNAME이 'HR'인 레코드의 FLOOR 값을 '10F'로 변경
  * UPDATE DEPARTMENT SET FLOOR = '10F' WHERE DNAME = 'HR';

| DID | DNAME | FLOOR |
|-----|-----|-----|
| 1 | Finance | 10F |
| 2 | Sales | 9F |
| 3 | Research | 9F |
| 4 | HR | 10F |
| 5 | Marketing | 10F |

## DELETE
- 레코드 삭제
- DELETE FROM [테이블이름] WHERE [조건]


- ex) DNAME이 'Marketing'인 레코드를 삭제
  * DELETE FROM DEPARTMENT WHERE DNAME = 'Marketing';

| DID | DNAME | FLOOR |
|-----|-----|-----|
| 1 | Finance | 10F |
| 2 | Sales | 9F |
| 3 | Research | 9F |
| 4 | HR | 10F |

## SELECT
- 데이터베이스 질의
- SELECT-FROM-WHERE 구조
- SELECT [필드이름1], [필드이름2], ... FROM [테이블이름1], [테이블이름2], ... WHERE [조건];
  + [필드이름]에 * 를 넣으면 전체 칼럼
  + [필드이름] AS [지정] 의 형식으로 결과 테이블의 필드 이름을 지정할 수 있음


- ex) DEPARTMENT 테이블의 모든 레코드
  * SELECT * FROM DEPARTMENT;
- ex) DEPARTMENT 테이블의 레코드 개수
  * SELECT COUNT(\*) FROM DEPARTMENT
- ex) DEPARTMENT 테이블에서 FLOOR가 '9F'인 레코드들의 DID와 DNAME(DID는 ID로 명칭, DNAME은 NAME으로 명칭)
  * SELECT DID as ID , DNAME as NAME FROM DEPARTMENT WHERE FLOOR = '9F';

| ID | NAME |
|-----|-----|
| 2 | Sales |
| 3 | Research |

## WHERE절 조건
|술어|연산자|예|
|:------|:----------|:---------------|
|비교   | =, <>, <, <=, >, >=     | VALUE < 20000|
|범위   | BETWEEN                 | VALUE BETWEEN 10000 AND 20000|
|집합   | IN, NOT IN              | VALUE IN (10000, 20000, 30000)|
|패턴   | LIKE                    | NAME LIKE 'New%'|
|NULL  | IS NULL, IS NOT NULL     | NAME is NULL|
|복합   | AND, OR, NOT            | (VALUE < 20000) AND (NAME LIKE 'New%')|

## 연습문제 1
1. CREATE 문을 사용하여 아래 테이블 EMPLOYEE 생성
  - EID: INT
  - FNAME: VARCHAR(32)
  - LNAME: VARCHAR(32)
  - DID: INT
  - GENDER: CHAR
  - SALARY: INT

|EID|FNAME|LNAME|DID|GENDER|SALARY|
|-|-----|-----|-----|-----|-----|
|1 | Brad | Nash | 3 | M | 30000|
|2 | Franklin | Smith | 2 | M | 40000|
|3 | Nicole | Kim | 1 | F | 25000|
|4 | Anna | Mills | 3 | F | 43000 |
|5 | Tim | Allen | 3 | M | 38000 |
|6 | Jennifer |Grey | 4 | F | 35000 |
|7 | Tony | Parker | 2 | M | 25000 |
|8 | James | Wong | 1 | M | 45000 |

2. INSERT 문을 사용하여 아래 그림에 나타난 8개 레코드 입력
3. 다음을 질의하는 SQL 작성 후 실행
  - 연봉이 30000불 이상인 직원들의 FNAME, LNAME, SALARY

| FNAME | LNAME | SALARY |
|-----|-----|-----|
| Brad | Nash | 30000 |
| Franklin | Smith | 40000 |
| Anna | Mills |43000 |
| Tim | Allen | 38000 |
| Jennifer | Grey | 35000 |
| James | Wong | 45000 |

## GROUP BY
- 여러 레코드에 대한 집단값 연산
- 집계값(AGGREGATION): COUNT, SUM, AVG, MIN, MAX
  * 집계값은 SUM(필드이름), COUNT(\*)와 같은 방식으로 선언
- SELECT [그룹필드1], [집계값1], ... FROM [테이블이름] GROUP BY [그룹필드1];


- ex) EMPLOYEE 테이블에서 성별 그룹들의 평균 SALARY는?
  * SELECT GENDER, AVG(SALARY) AS AVG_SAL FROM EMPLOYEE GROUP BY GENDER;

| GENDER | AVG_SAL |
|-----|-----|
| F | 34333.33 |
| M | 35600 |

- 문제) EMPLOYEE 테이블에서 각 DID 그룹의 최고 SALARY는?

|DID|MAX(SALARY)|
|-----|-----|
| 1 | 45000 |
| 2 | 40000 |
| 3 | 43000 |
| 4 | 35000 |

## ORDER BY
- 질의의 결과를 특정 칼럼을 기준으로 정렬
- 오름차순(ASC), 내림차순(DESC)
- SELECT [필드이름1], [필드이름2] FROM [테이블이름] ORDER BY [필드이름] ASC/DESC;


- ex) EMPLOYEE 테이블의 FNAME, LNAME, SALARY를 SALARY 기준 내림차순 정렬
  * SELECT FNAME, LNAME, SALARY FROM EMPLOYEE ORDER BY SALARY DESC;

|FNAME|LNAME|SALARY|
|-----|-----|-----|
| James | Wong | 45000 |
| Anna | Mills | 43000 |
| Franklin | Smith | 40000 |
| Tim | Allen | 38000 |
| Jennifer | Grey | 35000 |
| Brad | Nash | 30000 |
| Nicole | Kim | 25000 |
| Tony | Parker | 25000 |

- 문제) EMPLOYEE 테이블에서 GENDER가 'M'인 레코드들의 FNAME, LNAME, SALARY를 FNAME 기준 오름차순 정렬

|FNAME|LNAME|SALARY|
|-----|-----|-----|
| Brad | Nash | 30000 |
| Franklin | Smith | 40000 |
| James | Wong | 45000 |
| Tim | Allen | 38000 |
| Tony | Parker | 25000 |

## JOIN
- 두 개 이상의 테이블을 결합하여 질의
  * 주로 정규화된 테이블들을 대상으로 함께 질의하는데 사용
  
  
- SELECT [필드이름1], [필드이름2], ... FROM [테이블이름1], [테이블이름2], WHERE [조인조건];
- SELECT [필드이름1], [필드이름2], ... FROM [테이블이름1] JOIN [테이블이름2] ON [조인조건];


- ex) SELECT FNAME, LNAME, DNAME, GENDER FROM DEPARTMENT, EMPLOYEE WHERE DEPARTMENT.DID = EMPLOYEE.DID;
- ex) SELECT FNAME, LNAME, DNAME, GENDER FROM DEPARTMENT JOIN EMPLOYEE ON DEPARTMENT.DID = EMPLOYEE.DID;

|FNAME|LNAME|DNAME|GENDER|
|-----|-----|-----|-----|
| Brad | Nash | Research | M |
| Franklin | Smith | Sales | M |
| Nicole | Kim | Finace | F |
| Anna | Mills | Research | F |
| Tim | Allen | Research | M |
| Jennifer |Grey | HR | F |
| Tony | Parker | Sales | M |
| James | Wong | Finance | M |



- 문제) 9층에서 근무하는 남자 직원들의 이름(FNAME, LNAME)

|FNAME|LNAME|
|-----|-----|
|Brad|Nash|
|Franklin|Smith|
|Tim|Allen|
|Tony|Parker|

## 연습문제 2

### 2-1
  - 각 부서별  평균연봉을 계산
  - 결과 테이블의 필드는 (부서이름 DNAME, 평균연봉 AVG_SAL)
  - 평균연봉을 기준으로 내림차순 정렬

|DNAME|AVG_SAL|
|-----|-----|
| Research | 37000 |
| Finance | 35000 |
| HR | 35000 |
| Sales | 32500 |

### 2-2
  - 각 층의 직원들 중 가장 높은 연봉을 받는 사람
  - 결과 테이블의 필드는 (층 FLOOR, 이름 FNAME, 성 LNAME, 최고연봉 MAX_SAL)

|FLOOR|FNAME|LNAME|MAX_SAL|
|-----|-----|-----|-----|
|10F|James|Wong|45000|
|9F|Anna|Mills|43000|


### 2-3
  - 부서별 연봉이 30000불 이상인 직원의 수
  - 결과 테이블의 필드는 (부서이름 DNAME, 직원 수 COUNT)
  
|DNAME|COUNT(\*)|
|-----|:-----:|
|Finance|1|
|HR|1|
|Research|3|
|Sales|1|

# 파이썬에서의 데이터베이스 활용
## Python DB-API 2.0
- 여러 종류 데이터베이스의 파이썬 인터페이스 표준 (PEP 249, https://www.python.org/dev/peps/pep-0249/)
- 데이터베이스 연결, SQL 실행, 파라미터, 에러코드 등과 같이 데이터베이스 사용에 관련된 API

### Module Interfce
- connect(*parameters...*): 데이터베이스에 연결하여 Connection 개체 반환
- Exceptions: Warning, Error 정의

### Connection Objects
- close(): 데이터베이스와의 연결 해제
- commit(): 트랜잭션 커밋
- rollback(): 트랜잭션을 취소하고 롤백
- cursor(): 커서를 생성하여 반환

### Cursor Objects
- execute(*sql,[,parameters]*): 쿼리 수행
- executemany(*sql, seq_of_param*): 쿼리 수행
- fetchone(): 결과 탐색
- fetchmany(*size = cursor.arraysize*): 결과 탐색
- fetchall(): 결과 탐색

## 실습 데이터베이스
### sqlite3
- 오픈소스 데이터베이스 SQLite의 파이썬 모듈
- lightweight disk-based database
- 독립적인 서버 프로세스를 가지고 있지 않다(서버-클라이언트 모델X)
- 로컬에서만 사용

In [0]:
import sqlite3

# 데이터베이스 생성(연결)
conn = sqlite3.connect('company.db')

try:
  # 커서(Cursor) 생성
  # 커서: 명령문(SQL) 실행, 결과의 현재 위치 표시
  cursor = conn.cursor()
    
  # 테이블 생성(CREATE), 같은 이름의 테이블이 이미 있는 경우 제거(DROP)
  cursor.execute("DROP TABLE IF EXISTS DEPARTMENT;")
  cursor.execute("CREATE TABLE DEPARTMENT(DID INT PRIMARY KEY, DNAME VARCHAR(32), FLOOR VARCHAR(32));")
    
  # 데이터 입력(INSERT)
  # sql 직접 입력
  cursor.execute("INSERT INTO DEPARTMENT VALUES(1, 'Finance', '10F');")
  cursor.execute("INSERT INTO DEPARTMENT VALUES(2, 'Sales', '9F');")
  
  # ? placeholder 사용
  cursor.execute("INSERT INTO DEPARTMENT VALUES(?, ?, ?);", (3, 'Research', '9F'))
  
  # name placeholder 사용
  cursor.execute("INSERT INTO DEPARTMENT VALUES(:f1, :f2, :f3)", {'f1':4, 'f2':'HR', 'f3':'10F'})

  # 트랜잭션 커밋 - 데이터베이스에 업데이트를 반영
  conn.commit()
  
  # 추가 데이터 입력
  cursor.execute("INSERT INTO DEPARTMENT VALUES(5, 'Marketing', '10F');")
  
  # 롤백- 최그 커밋 이후의 작업들을 취소
  conn.rollback()
  
  # 결과 확인
  # fetchall(): 쿼리의 결과를 모두 가져오기
  result = cursor.execute("SELECT * FROM DEPARTMENT;").fetchall()
  for r in result:
    print(r)
  
except sqlite3.Error as e:
  # 데이터베이스 에러 처리
  print("sqlite error: ", e)

finally:
  # 데이터베이스 연결 해제
  conn.close()

In [0]:
import sqlite3

# 데이터베이스 생성(연결)
conn = sqlite3.connect('company.db')

try:
  # 커서(Cursor) 생성
  cursor = conn.cursor()
  
  # 기존에 있는 테이블과 동일한 이름의 테이블 생성
  cursor.execute("CREATE TABLE DEPARTMENT(DID INT, DNAME VARCHAR(32), FLOOR VARCHAR(32));")
  
except sqlite3.Error as e:
  # 데이터베이스 에러 처리
  print("sqlite error: ", e)

finally:
  # 데이터베이스 연결 해제
  conn.close()

In [0]:
import sqlite3

# 데이터베이스 생성(연결)
conn = sqlite3.connect('company.db')

try:
  # 커서(Cursor) 생성
  cursor = conn.cursor()
  
  # 동일한 Primary Key를 가진 레코드 입력
  cursor.execute("INSERT INTO DEPARTMENT VALUES(1, 'Marketing', '10F')")
  
except sqlite3.Error as e:
  # 데이터베이스 에러 처리
  print("sqlite error: ", e)

finally:
  # 데이터베이스 연결 해제
  conn.close()

## 쿼리 수행 메소드
- execute(*sql,[,parameters]*) : 하나의 sql문 실행
- executemany(*sql, seq_of_param*) : 시퀀스 seq_of_param에 있는 모든 매개변수 시퀀스나 매핑에 대하여 sql 실행
- executescript(*sql_script*) : 한번에 여러 SQL 문을 실행

In [0]:
import sqlite3

# 데이터베이스 생성(연결)
conn = sqlite3.connect('company.db')

try:
  # 커서(Cursor) 생성
  cursor = conn.cursor()

  # 테이블 생성(CREATE), 같은 이름의 테이블이 이미 있는 경우 제거(DROP)
  cursor.execute("DROP TABLE IF EXISTS DEPARTMENT")
  cursor.execute("CREATE TABLE DEPARTMENT(DID INT, DNAME VARCHAR(32), FLOOR VARCHAR(32))")
    
  # 데이터 입력(INSERT)
  seq_of_param = [
      (1, 'Finance', '10F'),
      (2, 'Sales', '9F'),
      (3, 'Research', '9F'),
      (4, 'HR', '10F')
  ]
  sql = "INSERT INTO DEPARTMENT VALUES(?, ?, ?)"
  cursor.executemany(sql, seq_of_param)

  # 트랜잭션 커밋
  conn.commit()
  
  # 결과 확인
  result = cursor.execute("SELECT * FROM DEPARTMENT").fetchall()
  for r in result:
    print(r)
  
except sqlite3.Error as e:
  # 데이터베이스 에러 처리
  print("sqlite error: ", e)

finally:
  # 데이터베이스 연결 해제
  conn.close()

In [0]:
import sqlite3

# 데이터베이스 생성(연결)
conn = sqlite3.connect('company.db')

try:
  # 커서(Cursor) 생성
  cursor = conn.cursor()
    
  # sql script 실행
  # 각 sql문은 ; 문자로 구분
  cursor.executescript("""
            DROP TABLE IF EXISTS DEPARTMENT;
            CREATE TABLE DEPARTMENT(DID INT, DNAME VARCHAR(32), FLOOR VARCHAR(32));
            
            INSERT INTO DEPARTMENT VALUES(1, 'Finance', '10F');
            INSERT INTO DEPARTMENT VALUES(2, 'Sales', '9F');
            INSERT INTO DEPARTMENT VALUES(3, 'Research', '9F');
            INSERT INTO DEPARTMENT VALUES(4, 'HR', '10F');
            """)

  # 트랜잭션 커밋
  conn.commit()
  
  # 결과 확인
  result = cursor.execute("SELECT * FROM DEPARTMENT").fetchall()
  for r in result:
    print(r)
    
except sqlite3.Error as e:
  # 데이터베이스 에러 처리
  print("sqlite error: ", e)

finally:
  # 데이터베이스 연결 해제
  conn.close()

## 결과 탐색 메소드
- fetchone() : 질의 결과 집합의 다음 행(row)을 하나씩 반환, 데이터가 더 없을 때 None을 반환
- fetchmany(*size = cursor.arraysize*) : *size* 개수 만큼의 결과 행(row)을 리스트로 반환, 종료시 None 반환
- fetchall() : 질의 결과에서 (남은) 모든 행(row)를 반환

In [0]:
import sqlite3

conn = sqlite3.connect('company.db')

try: 
  cursor = conn.cursor() 
  cursor.execute("SELECT * FROM DEPARTMENT WHERE FLOOR = '9F'")

  r = cursor.fetchone()
  while r != None:
    print(r)
    r = cursor.fetchone()

except sqlite3.Error as e:
  print("sqlite error: ", e)

## 연습문제 3

* 연습 문제 1과 같은 내용을 파이썬을 사용하여 수행
  - INSERT문은 executemany() 함수 사용
  - SELECT문 결과의 출력은 fetchone() 함수 사용

1. CREATE 문을 사용하여 아래 테이블 EMPLOYEE 생성
  - EID: INT
  - FNAME: VARCHAR(32)
  - LNAME: VARCHAR(32)
  - DID: INT
  - GENDER: CHAR
  - SALARY: INT

|EID|FNAME|LNAME|DID|GENDER|SALARY|
|-|-----|-----|-----|-----|-----|
|1 | Brad | Nash | 3 | M | 30000|
|2 | Franklin | Smith | 2 | M | 40000|
|3 | Nicole | Kim | 1 | F | 25000|
|4 | Anna | Mills | 3 | F | 43000 |
|5 | Tim | Allen | 3 | M | 38000 |
|6 | Jennifer |Grey | 4 | F | 35000 |
|7 | Tony | Parker | 2 | M | 25000 |
|8 | James | Wong | 1 | M | 45000 |

2. INSERT 문을 사용하여 아래 그림에 나타난 8개 레코드 입력
3. 다음을 질의하는 SQL 작성 후 실행
  - 연봉이 30000불 이상인 직원들의 FNAME, LNAME, SALARY

| FNAME | LNAME | SALARY |
|-----|-----|-----|
| Brad | Nash | 30000 |
| Franklin | Smith | 40000 |
| Anna | Mills |43000 |
| Tim | Allen | 38000 |
| Jennifer | Grey | 35000 |
| James | Wong | 45000 |

In [0]:
import sqlite3

# 데이터베이스 연결
conn = sqlite3.connect('company.db')

try: 
  cursor = conn.cursor()

  # 테이블 생성(Create)
    
  # 데이터 입력(Insert)
    
  # 트랜잭션 커밋 - 데이터베이스에 업데이트를 반영
  conn.commit()

  # 결과 확인

except sqlite3.Error as e:
  print("sqlite error: ", e)
    
finally:
  conn.close()

# Pandas 활용
* Pandas
  + 데이터분석에 유용한 기능들을 제공하는 파이썬 라이브러리
  + Series, DataFrame 등 행과 열로 이루어진 객체 사용

* DataFrame
  + 테이블 형식의 자료구조
  + https://pandas.pydata.org/pandas-docs/stable/reference/frame.html
  + DataFrame의 데이터를 데이터베이스에 입력할 수 있으며,
  + 데이터베이스에서 분석에 필요한 데이터를 선별하여 Dataframe을 만들 수 있음

## 실습 데이터셋
- 실외 온도(OAT, Outdoor Air Temperature, F)에 따른 건물의 전력 사용량(Power, kW)


|Timestamp|OAT|POWER|
|-----|:-----:|:-----:|
| 1/1/2010 1:15 | 51 | 165.1 |
| 1/1/2010 1:30 | 51 | 151.6 |
| 1/1/2010 1:45 | 51 | 146.9 |
| ... | ... | ... |
| 12/31/2010 0:00 | 44 | 177.9 |

- https://becominghuman.ai/linear-regression-in-python-with-pandas-scikit-learn-72574a2ec1a5

In [0]:
!wget https://raw.githubusercontent.com/iljoooo/lecture-notes/master/regression.db
  
import sqlite3

# 데이터베이스 연결
conn = sqlite3.connect('regression.db')

try:
  # 확인, 레코드 개수 34940
  result = conn.cursor().execute("SELECT COUNT(*) FROM OAT_POWER;").fetchall()
  print(result)
except sqlite3.Error as e:
  print("sqlite error: ", e)

finally:
  conn.close()

## 데이터베이스의 데이터 추출 to Pandas.DataFrame

- read_sql(*sql, con, index_col=None, coerce_float=True, params=None, parse_dates=None, columns=None, chunksize=None*)
  * sql: SQL 쿼리 혹은 테이블 이름
  * con: DBAPI2 Connection
  * index_col: Dataframe에서 index로 사용할 column 이름
  * coerce_float: non-string, non-numeric object(Decimal)를 floating point로 변환
  * params: SQL parameter
  * parse_dates: dates 타입으로 인식해야하는 column 리스트
  * columns: 테이블을 직접 로드할 때 선택할 column 리스트
  * chunksize: 이터레이터의 chunk size 지정
- read_sql_table(*table_name, con, schema=None, index_col=None, coerce_float=True, parse_dates=None, columns=None, chunksize=None*)
- read_sql_query(*sql, con, index_col=None, coerce_float=True, params=None, parse_dates=None, chunksize=None*)
- https://pandas.pydata.org/pandas-docs/version/0.15.0/generated/pandas.read_sql.html

In [0]:
import sqlite3
import pandas as pd
from pandas import DataFrame

# 데이터베이스 연결
conn = sqlite3.connect('regression.db')

try:
  # 테이블을 Pandas.Dataframe으로 추출
  # %m/%d/%Y %H:%M 형식으로 저장되어있는 Timestamp columnd을 python datetime 자료형으로 변환
  df = pd.read_sql('SELECT * FROM OAT_POWER',conn, parse_dates = {'Timestamp':'%m/%d/%Y %H:%M'})
  print(df.head())

except sqlite3.Error as e:
  print("sqlite error: ", e)

finally:
  conn.close()

In [0]:
df.hist()

In [0]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.xlabel("OAT")
plt.ylabel("POWER")
plt.scatter(df['OAT'], df['POWER'])

## 선형회귀(Linear Regression)
- 종속변수 Y와 한 개이상의 독립변수 X와의 선형 상관 관계 모델링
- X집합과 Y집합의 관계가 y = ax + b일 때, a와 b 값을 계산

In [0]:
from sklearn.linear_model import LinearRegression

# reshape
X = df['OAT'].values.reshape(-1,1)
y = df['POWER'].values.reshape(-1,1)

# Linear regression modeling
reg = LinearRegression()
reg.fit(X, y)

print("The linear model is: Y = {:.5} + {:.5}X".format(reg.intercept_[0], reg.coef_[0][0]))

In [0]:
predictions = reg.predict(X)
plt.figure(figsize=(16, 8))

plt.scatter(
    df['OAT'],
    df['POWER'],
    c='blue'
)
plt.plot(
    df['OAT'],
    predictions,
    c='red',
    linewidth=2
)
plt.xlabel("OAT")
plt.ylabel("POWER")
plt.show()

## 연습문제 4
1. 데이터베이스에서 여름 기간(6/1/2010 ~ 8/31/2010) 동안의 실외 온도와 전력 사용량 데이터 추출
  - 힌트: WHERE Timestamp >= '6/1/2010' AND Timestamp < '9/1/2010'
2. 추출한 데이터를 Pandas.DataFrame에 로드
3. 선형회귀 모델을 구한 후 그래프 그리기

In [0]:
import sqlite3

import pandas as pd
from pandas import DataFrame

from sklearn.linear_model import LinearRegression

import matplotlib.pyplot as plt
%matplotlib inline

# 데이터베이스 연결
conn = sqlite3.connect('regression.db')

try:
  # 테이블을 Pandas.Dataframe으로 추출
  
  # normalize
  X = df['OAT'].values.reshape(-1,1)
  y = df['POWER'].values.reshape(-1,1)
  
  # Linear regression modeling

  # plot

except sqlite3.Error as e:
  print("sqlite error: ", e)

finally:
  conn.close()

# 실습
## 주가 데이터 분석

- 목표
  * SQL 활용 통계 분석
  * Python Pandas 활용
  * 시각화 예시
- 데이터:
  * 5개의 코스닥 상장회사 2019년 주가 데이터 (1월2일~9월18일)
  * SK하이닉스(000660), 삼성전자(005930), LG이노텍(011070), 기업은행(024110), 신라젠(215600)
- 데이터 준비
  * 테이블 Stock 생성
  * 준비된 stock.csv 파일을 읽은 후 데이터 로드
    
|날짜|회사명|종목코드|종가|전일비|시가|고가|저가|거래량|
|-----|:-----:|-----|-----|-----|-----|-----|-----|-----|
| 2019-01-02 | 'LG이노텍' | '011070' | 83700 | 2700 | 87200 | 87700 | 83700 | 155940 |
| 2019-01-02 | 'SK하이닉스' | '000660' | 60600 | 100 | 61300 | 61400 | 60000 | 194295 |
| 2019-01-02 | '기업은행' | '024110' | 13500 | 500 | 13950 | 14000 | 13350 | 1546090 |
| 2019-01-02 | '삼성전자' | '005930' | 38750 | 50 | 39400 | 39400 | 38550 |7847664 |
| 2019-01-02 | '신라젠' | '215600' | 73400 | 100 | 74500 | 76400 | 72700 | 1602082 |
| ... | ... | ... | ... | ... | ... | ... | ... | ... |

In [0]:
# CSV 파일 다운로드
!wget https://raw.githubusercontent.com/iljoooo/lecture-notes/master/stock.csv

import sqlite3
import csv

# 데이터베이스 연결
conn = sqlite3.connect('stock.db')

try: 
  cursor = conn.cursor()
    
  # 테이블 생성(Create)
  cursor.executescript("""
                      DROP TABLE IF EXISTS STOCK;
                      CREATE TABLE STOCK(
                          '날짜' DATE, '회사명' VARCHAR(32), '종목코드' CHAR(8),
                          '종가' INT, '전일비' INT,
                          '시가' INT, '고가' INT, '저가' INT, '거래량' INT);
                      """)
  reader = csv.reader(open('stock.csv'), delimiter=',')
  next(reader) # 헤더 제거

  # 데이터 입력
  for row in reader:
    cursor.execute("INSERT INTO STOCK VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?)", row)
  
  # 트랜잭션 커밋
  conn.commit()
  
  # 데이터 확인
  count = cursor.execute("SELECT COUNT(*) FROM STOCK").fetchall()[0][0]
  print(count)
        
except sqlite3.Error as e:
  print("sqlite error: ", e)

finally:
  conn.close()

## 실습 문제 1
- 회사 별로 가장 높았던 고가와 평균 거래량 질의
- 출력: (회사이름, 최고고가, 평균 거래량)

In [0]:
import sqlite3

# 데이터베이스 연결
conn = sqlite3.connect('stock.db')

try:   
  # 쿼리 정의
  sql = ''
  
  # 쿼리 수행
    
  # 결과 확인
  
except sqlite3.Error as e:
  print("sqlite error: ", e)

finally:
  conn.close()

## 실습 문제 2
- 3월 1일 이후, 각 회사의 가장 낮았던 저가와 총 거래량
- 출력: (회사이름, 최저 저가, 총 거래량)

In [0]:
import sqlite3

# 데이터베이스 연결
conn = sqlite3.connect('stock.db')

try:   
  # 쿼리 정의
  sql = ""
    
  # 쿼리 수행
  
  # 결과 확인
  
except sqlite3.Error as e:
  print("sqlite error: ", e)

finally:
  conn.close()

## 실습 문제 3
- 7월 1일 이전, 각 회사의 평균 종가와 평균 전일비
- 출력: (회사이름, 평균 종가, 평균 전일비)를 회사 이름을 기준 오름차 순으로 정렬

In [0]:
import sqlite3

# 데이터베이스 연결
conn = sqlite3.connect('stock.db')

try:   
  # 쿼리 정의
  sql = """ """
  
  # 쿼리 수행
    
  # 결과 확인

except sqlite3.Error as e:
  print("sqlite error: ", e)

finally:
  conn.close()

## 그래프 그리기
1. 데이터베이스에서 데이터를 추출하여 Dataframe에 할당
2. Dataframe과 matplotlib을 사용하여 그래프 그리기

In [0]:
import sqlite3
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

# 데이터베이스 연결
conn = sqlite3.connect('stock.db')

try:
  # 데이터 추출
  df = pd.read_sql("SELECT 날짜, 종가 FROM STOCK WHERE 회사명 = '삼성전자' ORDER BY 날짜", conn, parse_dates = {'날짜':'%Y-%m-%d'})
  
  # 그래프 그리기
  plt.figure(figsize=(16, 8))
  plt.plot(df['날짜'], df['종가'])
  plt.show()
    
except sqlite3.Error as e:
  print("sqlite error: ", e)

finally:
  conn.close()

## 실습 문제 4
- 상반기(1월 1일~6월 30일) 기업은행 주식의 거래량을 그래프로 표현

In [0]:
import sqlite3
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

# 데이터베이스 연결
conn = sqlite3.connect('stock.db')

try:
  # 데이터 추출
 
  # 그래프 그리기
    
except sqlite3.Error as e:
  print("sqlite error: ", e)

finally:
  conn.close()